<template>
  <div class="display_card display_card_extra">
    <div class="content">
      <div class="img">
        <div
          class="play_button link_custom"
          @click="showCool(item?.video_url || item?.youtube_link)"
        >
          <svgicon name="play-button"></svgicon>
        </div>
        <img :src="item?.post_image" alt="" />
      </div>
      <div class="title">
        <span>{{ item?.title?.[$i18n.locale] }}</span>
      </div>
      <div class="sub_title">
        <p>{{ item?.sub_title?.[$i18n.locale] }}</p>
      </div>
      <div class="footer">
        <div class="check">
          <a-checkbox
            v-model="item.chekbox"
            @change="checkboxOnChange(item.chekbox)"
          >
            <span>Выбирать</span>
          </a-checkbox>
        </div>
        <div class="order">
          <span>01</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    index: {
      type: Number,
      default() {
        return 0;
      },
    },
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    showCool: {
      type: Function,
      default() {
        return () => {};
      },
    },
  },
  methods: {
    checkboxOnChange(val) {
      if (val) {
        val = false;
      } else {
        val = true;
      }
      this.$emit("checkboxOnChange");
    },
  },

  watch: {},
  mounted() {},
};
</script>

<style></style>
