<template>
  <div class="display_card">
    <div class="content">
      <div class="img">
        <img :src="item?.image" alt="" />
      </div>
      <div class="title">
        <span>{{ item?.title?.[$i18n.locale] }}</span>
      </div>
      <div class="footer">
        <nuxt-link
          tag="div"
          class="link link_custom"
          :to="localePath(`/screen/${item?.slug}`)"
        >
          <span>подробнее</span>
          <svgicon name="right-circle"></svgicon>
        </nuxt-link>
        <div class="order">
          <span>01</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style></style>
