<template>
  <a target="blank" :href="item?.url" class="partner-card">
    <div class="img">
      <img :src="item?.image" alt="" />
    </div>
  </a>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style></style>
