.application-modal{
  background-color: #040404;
  border: 1px solid hsla(0,0%,100%,.3);
  padding: 16px 24px;
  .content{
		display: flex;
		flex-direction: column;
		header{
			margin-bottom: 16px;
			h2{
				font-size: 24px;
				line-height: 140%;
			}
		}
		main{
			.application-from{
				.ant-form-item-label > label{
					color: white;
					font-size: 20px;
					font-weight: 500;
					line-height: 150%;
				}
				.ant-input{
					background: #212121;
					border: 1px solid hsla(0,0%,100%,.2);
					border-radius: initial;
					color: #c5c5c5;
					font-size: 20px;
					font-weight: 400;
					height: 70px;
					line-height: 140%;
					padding: 0 16px;
					width: 100%;
				}
			}
		}
		footer{
			display: flex;
			.button{
				display: inline-block;
				margin-left: auto;
				background: var(--gradient,linear-gradient(90deg,#3652ff .52%,#7285ff 100%));
				&_click{
					padding: 20px 50px;
					span{
						font-size: 18px;
    				font-weight: 500;
					}
				}
			}
		}
  }
}

.ant-modal-body{
  padding: 0;
}
.ant-modal-mask {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

