<template>
  <main class="catalog-page">
    <div class="container">
      <section class="catalog">
        <header>
          <h2>3D каталог</h2>
        </header>
        <main>
          <div class="catalog-cards">
            <a-row :gutter="[24, 24]" type="flex">
              <a-col
                class="gutter-row"
                :span="6"
                v-for="(item, index) in myCatalogList"
                :key="index"
              >
                <CardDisplayExtra
                  @checkboxOnChange="checkboxOnChange()"
                  :index="index"
                  :item="item"
                  :showCool="showCool"
                ></CardDisplayExtra>
              </a-col>
            </a-row>
            <Pagination
              @paginate="paginate"
              :limit="pagination.limit"
              :count="count"
              :page="pagination.page"
            />
          </div>
        </main>
      </section>
      <div class="application-button" v-if="selectedDisplayList.length >= 1">
        <div @click="openModal" class="application-link link_custom">
          <span>
            Отправить заявку
            <svgicon name="vector-right"></svgicon>
          </span>
        </div>
      </div>
    </div>
    <ModalApplication
      @close="visibleModal = $event"
      @removeCheckList="removeSelection"
      :visible="visibleModal"
      :idArray="selectedDisplayList"
    >
    </ModalApplication>
    <client-only>
      <CoolLightBox
        :items="videoCoolList"
        :index="videoIndex"
        @close="closeCool"
      >
      </CoolLightBox>
    </client-only>
  </main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      myCatalogList: [],
      videoCoolList: [],
      videoIndex: null,
      selectedDisplayList: [],
      pagination: {
        limit: 8,
        page: 1,
      },
      count: 0,
      visibleModal: false,
    };
  },
  computed: {
    ...mapGetters(["catalogList"]),
  },
  methods: {
    ...mapActions(["fetchListDefault"]),
    async fetchData() {
      try {
        await this.fetchListDefault({
          api: "site/catalog/list",
          key: "catalogList",
        });
      } catch (e) {
        console.log(e);
      }
    },
    async paginate(arg) {
      // this.pagination.page = arg;
      // if (this.activeTab == 1) {
      //   await this.fetchPhotoList();
      // } else if (this.activeTab == 2) {
      //   await this.fetchVideoList();
      // }
    },
    removeSelection() {
      this.selectedDisplayList = [];
      this.myCatalogList.map((el) => (el.chekbox = false));
    },
    openModal() {
      this.visibleModal = true;
      this.selectedDisplayList = [];
      this.myCatalogList.forEach((el) => {
        if (el.chekbox == true) {
          this.selectedDisplayList.push(el._id);
        }
      });
      console.log(this.selectedDisplayList);
    },
    showCool(url) {
      this.videoCoolList.push(url);
      this.videoIndex = 0;
    },
    closeCool() {
      this.videoIndex = null;
      this.videoCoolList = [];
    },
    checkboxOnChange() {
      if (this.myCatalogList.find((el) => el.chekbox)) {
        this.selectedDisplayList.push(
          this.myCatalogList.find((el) => el.chekbox)._id
        );
      } else {
        this.selectedDisplayList = [];
      }
    },
  },
  async mounted() {
    await this.fetchData();
    this.catalogList.forEach((el) => {
      let obj = { ...el };
      obj.chekbox = false;
      this.myCatalogList.push(obj);
    });
  },
};
</script>

<style></style>
