.led-diplays{
  background: #0F0F0F;
  border-bottom: 1px solid $border;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  padding-left: 60px;
  padding-right: 60px;
  header{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    h2{
      font-size: 32px;
      font-weight: 900;
      line-height: 48px;
      text-align: left;
      background: linear-gradient(90deg, #3652FF 0.52%, #7285FF 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  main{
    .swiper{
      padding-bottom: 40px;
      
      .swiper-pagination{
        .swiper-pagination-bullet{
          background-color: rgba($color: #fff, $alpha: 0.6);
          border-radius: 4px;
        }
        .swiper-pagination-bullet-active{
          background: $white;
          width: 32px;
        }
      }
    }
  }
}

