.main-image{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 752px;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      height: 100%;
      background: rgba(0, 0, 0, 0.5) ;
    }
    img{
      @include imageContain
    }
  }
  .text-container{
    position: relative;
    z-index: 9;
    margin: auto 0;
    max-width: 900px;
    .title{
      margin-bottom: 16px;
      h1{
        font-size: 60px;
        font-weight: 900;
        line-height: 90px;
        text-align: center;
        background: linear-gradient(90deg, #3652FF 0.52%, #7285FF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .sub_title{
      margin-bottom: 24px;
      p{
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
      }
    }
    .button{
      margin: 0 auto;
      display: table;
      background: linear-gradient(90deg, #3652FF 0.52%, #7285FF 100%);
      border-radius: 10px;
      padding: 14px 20px;
      .info{
        display: flex;
        align-items: center;
        .svg{
          margin-right: 10px;
          width: 24px;
          height: 24px;
        }
        span{
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
}