.map{
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: initial 60px;
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
  main{
    display: flex;
    .map-container{
      max-width: 852px;
      flex: 0 0 852px;
      height: 500px;
      display: flex;
      justify-content: center;
      position: relative;
      .pointer{
        transition: all .3s ease-in-out;
        position: absolute;
        transform: translate(-43%, -40%);
        &.current{
          height: 65px;
          width: 50px
        }
        .svg{
          width: 100%;
          height: 100%;
          svg{
            @include imageContain
          }
        }
      }
    }
    aside{
      width: 100%;
      .map-info-block{
        position: relative;
        width: 687px;
        margin-left: auto;
        background: #0f0f0f;
        height: 100%;
        padding: 50px;
        .content{
          display: flex;
          flex-direction: column;
          height: 100%;
          .title{
            margin-bottom: 32px;
            span{
              font-size: 28px;
              font-weight: 700;
              line-height: 42px;
              text-align: left;
            }
          }
          .data{
            display: flex;
            .info{
              display: flex;
              margin-right: 32px;
              .svg{
                margin-right: 8px;
                height: 24px;
                width: 24px;
                svg{
                  @include svgColor(#4A63FE)
                }
              }
              span{
                font-size: 18px;
                font-weight: 400;
                line-height: 29px;
                text-align: left;
                opacity: 0.8;
              }
              &:last-child{
                margin-right: 0px;
              }
            }
          }
          .link{
            display: flex;
            align-items: center;
            margin-top: auto;
            span{
              font-size: 18px;
              font-weight: 400;
              line-height: 29px;
              text-align: left;
              color: #4A63FE; 
              margin-right: 8px;
            }
          }
          .uzor{
            position: absolute;
            top: 50%;
            left: -40px;
            height: 80px;
            width: 80px;
            transform: translateY(-40px);
            display: flex;
            .left-half{
              max-width: 50%;
              flex: 0 0 50%;
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              .svg{
                svg{
                  @include svgColor(#4A63FE)
                }
              }
            }
            .right-half{
              max-width: 50%;
              flex: 0 0 50%;
              height: 100%;
              background-color: #4A63FE;
              border-radius: 0 40px 40px 0;
            }
          }
        }
      }
    }
  }
}