.partners{
  padding: initial 60px;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
  main{
    .partners-cards{
      margin-bottom: 24px;
    }
    .link-more{
      background: #FFFFFF0D;
      padding: 14px 0;
      width: 100%;
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
      .info{
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        span{
          color: #4A63FE;
          font-weight: 700;
        }
      }
    }
    .download_row{
      display: flex;
      justify-content: center;
      .download-button{
        border-radius: 10px;
        background: linear-gradient(90deg, #3652FF 0.52%, #7285FF 100%);
        padding: 14px 20px;
        .info{
          display: flex;
          align-items: center;
          .svg{
            margin-right: 8px;
            height: 24px;
            width: 24px;
            svg{
              @include svgColor(white)
            }
          }
          span{
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}