@import 'mainImage', 'ledDisplays', 'map', 'partners';

// common styles 

section {
  header {
    h2{
      font-size: 32px;
      font-weight: 900;
      line-height: 48px;
      text-align: left;
      background: linear-gradient(90deg, #3652FF 0.52%, #7285FF 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }
}
.section-common{
  padding-bottom: 60px ;
  padding-top: 60px ;
}