@import "helper", "custom", 'carcas', 'home', 'card' , 'pages', 'modal';

@font-face {
  font-family: 'Aeroport';
  src: url('@/assets/fonts/ProductSans/stylesheet.css') format('truetype'),
}

a{
  color: white;
  &:hover{
    color: #8697ff;
  }
}

.link_custom{
  cursor: pointer;
  &:hover{
    color: #8697ff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
  padding: 0;
  margin: 0;
  color: $white;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.ant-layout{
  background-color: #040404;
  // background-color: white;
}

.ant-layout-header,
.ant-layout-footer{
  background: unset;
  height: unset;
  line-height: unset;
  padding: 0;
  margin: 0;
}




*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  // font-family: 'Aeroport', sans-serif;
  font-family: 'Product Sans', sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
}

.swiper-wrapper{
  display: flex;
  .swiper-slide{
    height: unset;
  }
}