<template>
  <section>
    <div class="led-diplays section-common">
      <header>
        <h2>Светодиодные экраны</h2>
      </header>
      <main>
        <client-only>
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide v-for="(item, index) in screens" :key="index">
              <CardDisplay :item="item"></CardDisplay>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </client-only>
      </main>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      swiperOption: {
        loop: true,
        spaceBetween: 24,
        slidesPerView: 4,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          // dynamicBullets: true,
        },
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        breakpoints: {
          // 0: {
          //   slidesPerView: 1,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 485: {
          //   slidesPerView: 2,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 768: {
          //   slidesPerView: 3,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 991: {
          //   slidesPerView: 3,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 16,
          // },
          // 1480: {
          //   slidesPerView: 4,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 20,
          // },
          // 1600: {
          //   slidesPerView: 5,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 24,
          // },
          // 1720: {
          //   slidesPerView: 6,
          //   spaceBetweenSlides: 16,
          //   spaceBetween: 32,
          // },
        },
      },
    };
  },
  computed: {
    ...mapGetters(["screens"]),
  },
};
</script>

<style></style>
