<template>
  <div class="main-image">
    <div class="img">
      <img src="@/assets/media/image/main-image.png" alt="main-image" />
    </div>
    <div class="text-container">
      <div class="title">
        <h1>{{ banner?.title?.[$i18n.locale] }}</h1>
      </div>
      <div class="sub_title">
        <p>{{ banner?.sub_title?.[$i18n.locale] }}</p>
      </div>
      <template v-if="banner?.phone_number">
        <a :href="`tel:${banner.phone_number}`" class="button">
          <div class="info">
            <svgicon name="phone-W"></svgicon>
            <span>{{ banner.phone_number }}</span>
          </div>
        </a>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["banner"]),
  },
};
</script>

<style></style>
