<template>
  <section>
    <div class="map section-common">
      <header>
        <h2>КАРТА</h2>
      </header>
      <main>
        <div class="map-container">
          <svgicon name="map-city"></svgicon>
          <div
            class="pointer"
            :class="{ current: item._id == activeScreen._id }"
            v-for="(item, i) in mapList"
            :key="i"
            :style="`top: ${item?.top}%; left: ${item?.left}%`"
          >
            <svgicon name="pointer" @click="mapOnClick(item._id)"></svgicon>
          </div>
        </div>
        <aside>
          <div class="map-info-block">
            <div class="content">
              <div class="title">
                <span>{{ activeScreen?.title?.[$i18n.locale] }}</span>
              </div>
              <div class="data">
                <div class="info">
                  <svgicon name="display"></svgicon>
                  <span>{{ activeScreen?.size }}</span>
                </div>
                <div class="info">
                  <svgicon name="time"></svgicon>
                  <span>{{ activeScreen?.time }}</span>
                </div>
              </div>
              <a target="_blank" :href="activeScreen?.link" class="link">
                <span>Посмотри на карту</span>
                <svgicon name="right-circle"></svgicon>
              </a>
              <div class="uzor">
                <div class="left-half">
                  <svgicon name="uzor"></svgicon>
                </div>
                <div class="right-half"></div>
              </div>
            </div>
          </div>
        </aside>
      </main>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      activeScreen: {},
    };
  },
  computed: {
    ...mapGetters(["mapList"]),
  },
  methods: {
    mapOnClick(id) {
      let element = this.mapList.find((el) => el._id == id);
      this.activeScreen = { ...element };
    },
  },
  mounted() {
    // this.activeScreen = this.mapList?.[0];
  },
};
</script>

<style></style>
