<template>
  <section>
    <div class="partners section-common">
      <header>
        <h2>НАШИ ПАРТНЕРЫ</h2>
      </header>
      <main>
        <div class="partners-cards">
          <a-row :gutter="[24, 24]" type="flex">
            <a-col
              class="gutter-row"
              :span="4"
              v-for="(item, index) in partners"
              :key="index"
            >
              <CardPartner :item="item"></CardPartner>
            </a-col>
          </a-row>
        </div>
        <div class="link-more">
          <nuxt-link
            :to="localePath('/partners')"
            tag="div"
            class="info link_custom"
            >и <span>100+</span> других известных компаний</nuxt-link
          >
        </div>
        <div class="download_row">
          <div class="download-button">
            <div class="info">
              <svgicon name="download"></svgicon>
              <span>СКАЧАТЬ ПРЕЗЕНТАЦИЮ</span>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["partners"]),
  },
};
</script>

<style></style>
