<template>
  <main class="partners-page">
    <div class="container">
      <section class="partners">
        <header>
          <h2>НАШИ ПАРТНЕРЫ</h2>
        </header>
        <main>
          <div class="partners-cards">
            <a-row :gutter="[24, 24]" type="flex">
              <a-col
                class="gutter-row"
                :span="4"
                v-for="(item, i) in partners"
                :key="i"
              >
                <CardPartner :item="item"></CardPartner>
              </a-col>
            </a-row>
            <Pagination
              @paginate="paginate"
              :limit="pagination.limit"
              :count="count"
              :page="pagination.page"
            />
          </div>
        </main>
      </section>
    </div>
  </main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      pagination: {
        limit: 8,
        page: 1,
      },
      count: 0,
    };
  },
  computed: {
    ...mapGetters(["partners"]),
  },
  methods: {
    ...mapActions(["fetchListDefault"]),
    async fetchData() {
      let promisePartners = new Promise(async (resolve, reject) => {
        try {
          await this.fetchListDefault({
            api: "site/partners",
            key: "partners",
          });
          resolve({
            status: true,
          });
        } catch (e) {
          console.log(e);
        }
      });
    },
    async paginate(arg) {
      // this.pagination.page = arg;
      // if (this.activeTab == 1) {
      //   await this.fetchPhotoList();
      // } else if (this.activeTab == 2) {
      //   await this.fetchVideoList();
      // }
    },
  },
  async mounted() {
    await this.fetchData();
  },
};
</script>

<style></style>
