.footer-main{
  background: #04040466;
  padding: 60px 0;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  .container{
    .footer_row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-container {
        display: flex;
        align-items: center;
        .img {
          width: 90px;
          height: 90px;
          flex: 0 0 90px;
          overflow: hidden;
          margin-right: 12px;
          img {
            @include imageContain;
          }
        }
        .info{
          .title{
            color: $white;
            font-size: 25px;
            font-weight: 900;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
          }
          .sub-title{
            color: $white;
            font-size: 17px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }
      .contact-container{
        .title{
          font-size: 18px;
          font-weight: 400;
          line-height: 29px;
          text-align: left;
          opacity: 0.8;
          color: $white;
        }
        .data{
          display: flex;
          align-items: center;
          .svg{
            margin-right: 10px;
            width: 21px;
            height: 21px;
            svg{
              @include imageContain
            }
          }
          span{
            color: $white;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            text-align: left;
          }
        }
      }
    }
  }
}