.header-main {
  background: #04040466;
  padding: 20px 0;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  .header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      display: flex;
      align-items: center;
      .img {
        width: 90px;
        height: 90px;
        flex: 0 0 90px;
        overflow: hidden;
        margin-right: 12px;
        img {
          @include imageContain;
        }
      }
      .info{
        .title{
          color: $white;
          font-size: 25px;
          font-weight: 900;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
        }
        .sub-title{
          color: $white;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .navigation{
      object-position: center;
      ul{
        list-style: none;
        display: flex;
        align-items: center;
        li{
          margin-right: 50px;
          color: $white;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          &:last-child{
            margin-right: 0px;
          }
        }
      }
    }
    .links{
      display: flex;
      align-items: center;
      .site-contacts{
        .social-medias{
          margin-right: 40px;
          ul{
            display: flex;
            align-items: center;
            list-style: none;
            li{
              margin-right: 6px;
              .soc-media{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #4A63FE;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .svg{
                  height: 20px;
                  width: 20px;
                  svg{
                    @include imageContain
                  }
                }
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
      .site-languages{
        ul{
          display: flex;
          align-items: center;
          li{
            margin-right: 8px;
            a{
              font-size: 18px;
              font-weight: 400;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: center;
              color: $white;
              opacity: 0.4;
              &.active_lang{
                opacity: 1;
              }
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

