.about-page{
  .container{
    .about-company{
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      padding: 60px;
      header{
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
      }
      main{
        aside.left{
          height: 100%;
          display: flex;
          flex-direction: column;
          .info-container{
            margin: auto 0;
            p{
              font-size: 22px;
              font-weight: 400;
              line-height: 35px;
              text-align: left;
            }
          }
        }
        aside.right{
          .company-image{
            .img{
              height: 450px;
              width: 100%;
              img{
                @include imageCover
              }
            }
          }
        }
      }
    }
  }
}