.catalog-page{
  .container{
    .catalog{
      padding: 60px;
      border: 1px solid $border;
      border-top: none;
      border-bottom: none;
      header{
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
      }
    }
    .application-button{
      border-radius: 10px;
      background: linear-gradient(90deg, #FE754A 0.52%, #7285FF 100%);
      position: fixed;
      z-index: 9;
      bottom: 150px;
      left: 50%;
      transform: translateX(-50%);
      .application-link{
        padding: 14px 32px;
        span{
          display: flex;
          justify-content: center;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          .svg{
            margin-left: 10px;
          }
        }
      }
    }
  }
}