.contact_us-page{
  .container{
    .contact_us{
      padding: 60px;
      border: 1px solid $border;
      border-top: none;
      border-bottom: none;
      header{
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
      }
      main{
        .map_container{
          margin-bottom: 48px;
        }
        .contacts_row{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .contact_col{
            .title{
              margin-bottom: 8px;
              span{
                opacity: 0.8;
                font-size: 18px;
                font-weight: 400;
                line-height: 29px;
                text-align: left;
              }
            }
            .info{
              display: flex;
              align-items: center;
              .svg{
                margin-right: 8px;
                svg{
                  @include svgColor(#4A63FE)
                }
              }
              span{
                  font-size: 22px;
                  font-weight: 700;
                  line-height: 33px;
                  text-align: left;
              }
            }
          }
        }
      }
    }
  }
}