<template>
  <div>
    <template v-if="loading">
      <a-spin size="large" />
    </template>
    <template v-else>
      <a-layout>
        <a-layout-header>
          <CarcasHeader></CarcasHeader>
        </a-layout-header>
        <a-layout-content>
          <nuxt />
        </a-layout-content>
        <a-layout-footer>
          <CarcasFooter></CarcasFooter>
        </a-layout-footer>
      </a-layout>
    </template>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      loading: true,
    };
  },
  async mounted() {
    await this.fetchPages();
    if (
      this.$route.path == "/" ||
      this.$route.path == `/${this.$i18n.locale}` ||
      this.$route.path == `/${this.$i18n.locale}/`
    ) {
      await this.fetchHome();
    }
    this.loading = false;
  },
  methods: {
    ...mapActions(["fetchListDefault"]),
    async fetchHome() {
      try {
        let promiseBanner = new Promise(async (resolve, reject) => {
          try {
            await this.fetchListDefault({
              api: "site/banner",
              key: "banner",
            });
            resolve({
              status: true,
            });
          } catch (e) {
            console.log(e);
          }
        });
        let promiseScreens = new Promise(async (resolve, reject) => {
          try {
            await this.fetchListDefault({
              api: "site/screens",
              key: "screens",
            });
            resolve({
              status: true,
            });
          } catch (e) {
            console.log(e);
          }
        });
        let promisePartners = new Promise(async (resolve, reject) => {
          try {
            await this.fetchListDefault({
              api: "site/partners",
              key: "partners",
              params: { limit: 12 },
            });
            resolve({
              status: true,
            });
          } catch (e) {
            console.log(e);
          }
        });
        let promiseMap = new Promise(async (resolve, reject) => {
          try {
            await this.fetchListDefault({
              api: "map/list",
              key: "mapList",
            });
            resolve({
              status: true,
            });
          } catch (e) {
            console.log(e);
          }
        });
        await Promise.all([
          promiseBanner,
          promiseScreens,
          promisePartners,
          promiseMap,
        ]);
      } catch (error) {
        console.error(error);
      }
    },
    async fetchPages() {
      let promiseMenu = new Promise(async (resolve, reject) => {
        try {
          await this.fetchListDefault({
            api: "site/menu/list",
            key: "menuList",
          });
          resolve({
            status: true,
          });
        } catch (e) {
          console.log(e);
        }
      });
      let promiseContacts = new Promise(async (resolve, reject) => {
        try {
          await this.fetchListDefault({
            api: "site/contact",
            key: "contactsList",
          });
          resolve({
            status: true,
          });
        } catch (e) {
          console.log(e);
        }
      });

      await Promise.all([promiseMenu, promiseContacts]);
    },
  },
  watch: {
    async "$route.path"(val) {
      if (
        val == "/" ||
        val == `/${this.$i18n.locale}` ||
        val == `/${this.$i18n.locale}/`
      ) {
        this.loading = true;
        await this.fetchHome();
        this.loading = false;
      } else {
        return;
      }
    },
    "$i18n.locale"() {
      this.fetchPages();
    },
  },
};
</script>
