<template>
  <main class="about-page">
    <div class="container">
      <section class="about-company">
        <header>
          <h2>О компании</h2>
        </header>
        <main>
          <a-row :gutter="24" type="flex">
            <a-col class="gutter-row" :span="12">
              <aside class="left">
                <div class="info-container">
                  <p>{{ about?.content?.[$i18n.locale] }}</p>
                </div>
              </aside>
            </a-col>
            <a-col class="gutter-row" :span="12">
              <aside class="right">
                <div class="company-image">
                  <div class="img">
                    <img :src="about?.image" alt="" />
                  </div>
                </div>
              </aside>
            </a-col>
          </a-row>
        </main>
      </section>
    </div>
  </main>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["about"]),
  },
  methods: {
    ...mapActions(["fetchListDefault"]),
    async fetchData() {
      let promiseAbout = new Promise(async (resolve, reject) => {
        try {
          await this.fetchListDefault({
            api: "site/about",
            key: "about",
          });
          resolve({
            status: true,
          });
        } catch (e) {
          console.log(e);
        }
      });
    },
  },
  async mounted() {
    await this.fetchData();
  },
};
</script>

<style></style>
