<template>
  <a-modal
    centered
    :visible="visible"
    :confirm-loading="confirmLoading"
    :footer="null"
    @ok="handleOk"
    @cancel="handleCancel"
  >
    <div class="application-modal">
      <div class="content">
        <header>
          <h2>Отправить заявку</h2>
        </header>
        <main>
          <div class="application-from">
            <a-form-model ref="form" :model="form" :rules="rules">
              <a-row type="flex" :gutter="[0]">
                <a-col span="24">
                  <a-form-model-item label="Ф.И.О.:" prop="full_name">
                    <a-input v-model="form.full_name" placeholder="Введите" />
                  </a-form-model-item>
                </a-col>
                <a-col span="24">
                  <a-form-model-item
                    label="Номер телефона:"
                    prop="phone_number"
                  >
                    <a-input
                      v-model="form.phone_number"
                      placeholder="Введите"
                    />
                  </a-form-model-item>
                </a-col>
              </a-row>
            </a-form-model>
          </div>
        </main>
        <footer>
          <div class="button">
            <div class="button_click link_custom" @click="handleOk">
              <span>Отправить</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </a-modal>
</template>

<script>
export default {
  data() {
    return {
      confirmLoading: false,
      form: {
        full_name: "",
        phone_number: "",
        catalog_id: this.idArray,
      },
      rules: {
        full_name: [
          {
            required: true,
            message: "Требуется заполнение!",
            trigger: "change",
          },
        ],
        phone_number: [
          {
            required: true,
            message: "Требуется заполнение!",
            trigger: "change",
          },
        ],
      },
    };
  },
  props: {
    idArray: {
      type: Array,
      default() {
        return [];
      },
    },
    visible: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  methods: {
    handleOk(e) {
      this.confirmLoading = true;
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          try {
            let form = this.form;
            console.log(form);
            let res = await this.$axios.post("/order/create", form);
            if (res) {
              this.handleCancel();
              this.form.full_name = "";
              this.form.phone_number = "";
              this.$emit("removeCheckList");
              this.form.catalog_id = [];
            }
          } catch (error) {
            console.log(error);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleCancel(e) {
      this.visible = false;
      this.$emit("close", false);
    },
  },
};
</script>

<style></style>
