<template>
  <main class="home-page">
    <div class="container">
      <HomeMainImage></HomeMainImage>
      <HomeLedDisplays></HomeLedDisplays>
      <HomeMap></HomeMap>
      <HomePartners></HomePartners>
    </div>
  </main>
</template>

<script>
export default {
  name: "MyChat",
  data() {
    return {};
  },
};
</script>
