.pagination {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 32px;

  @include devices(lg) {
      margin-top: 24px;
  }
  @include devices(md) {
      margin-top: 16px;
  }
  

  &-limit {
      margin-right: 12px;
  }

  &-controls {
      margin: 0 auto;
      display: flex;
      align-items: center;

      .pagination-item {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
          width: 50px;
          height: 50px;
          color: rgb(255, 255, 255, 0.6);
          font-size: 19px;
          font-weight: 500;
          line-height: 22px;
          margin: 0 4px;
          border: 1px solid #FFFFFF33;
          cursor: pointer;
          transition: .3s;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            @include svgColor(#fff);
            transform: scale(1.1);
          }

          &:first-child{
              .svg{
                  transform: rotate(180deg);
              }
          }
          &:first-child,
          &:last-child {
              color: #fff;
              font-size: 21px;
              line-height: 24px;
          }

          &[disabled="disabled"] {
              cursor: auto;
              color: $black1;

              svg path{
                  fill: $black1;
              }
          }

          &.active {
              color: #fff;
              opacity: 0.8;
              border: 1px solid #FFFFFF80;
              background: #FFFFFF26;
          }

          @include devices(sm){
              width: 36px;
              height: 36px;
              border-radius: 4px;
              font-size: 16px;
              margin: 0 2px;
          }
      }
  }

  &-info {
      margin-left: 12px;
  }
}