.display_card{
  padding: 24px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  border: 1px solid #FFFFFF4D;
  height: 100%;
  .content{
    display: flex;
    flex-direction: column;
    height: 100%;
    .img{
      width: 354px;
      height: 339px;
      margin-bottom: 24px;
      img{
        @include imageCover
      }
    }
    .title{
      margin-bottom: 20px;
      span{
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        @include splice(1)
      }
    }
    .footer{
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link{
        display: flex;
        align-items: center;
        span{
          margin-right: 10px;
          font-size: 18px;
          font-weight: 400;
          line-height: 29px;
          text-align: left;
          color: #4A63FE;
        }
      }
      .order{
        span{
          font-size: 18px;
          font-weight: 400;
          line-height: 29px;
          text-align: right;
          opacity: 0.3;
        }
      }
    }
  }
}