.display_card_extra{
  .content{
    display: flex;
    flex-direction: column;
    height: 100%;
    .img{
      height: 240px;
      position: relative;
      .play_button{
        background: #04040466;
        backdrop-filter: blur(10px);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 58px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        .svg{
          transform: translateX(2px);
          height: 24px;
          width: 24px;
          @include flex-center
        }
      }
    }
    .title{
      margin-bottom: 6px;
      span{
        @include splice(1)
      }
    }
    .sub_title{
      opacity: 0.8;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      margin-bottom: 20px;
      p{
        @include splice(2)
      }
    }
    .footer{
      margin-top: auto;
      padding-top: 20px;
      border-top: 1px solid $border;
      .check{
        span{
          opacity: 0.8;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
        }
      }
    }
  }
}