<template>
  <main class="footer-main">
    <div class="container">
      <div class="footer_row">
        <nuxt-link tag="div" to="/" class="logo-container link_custom">
          <div class="img logo">
            <img src="@/assets/media/image/logo.png" alt="" />
          </div>
          <div class="info">
            <div class="title">AHADMIX GROUP</div>
            <div class="sub-title">PROFESSIONAL LED SCREEN</div>
          </div>
        </nuxt-link>
        <div class="contact-container" v-if="contactsList?.phone_number">
          <div class="title">Телефон:</div>
          <a :href="`tel:${contactsList.phone_number[0]}`" class="data">
            <svgicon name="phone"></svgicon>
            <span class="link_custom">{{ contactsList.phone_number[0] }}</span>
          </a>
        </div>
        <div class="contact-container" v-if="contactsList?.email">
          <div class="title">Электронная почта:</div>
          <a :href="`mailto:${contactsList.email[0]}`" class="data">
            <svgicon name="phone"></svgicon>
            <span>{{ contactsList.email[0] }}</span>
          </a>
        </div>
        <div class="contact-container" v-if="contactsList?.address">
          <div class="title">Адрес:</div>
          <a target="_blank" :href="contactsList.address_link" class="data">
            <svgicon name="phone"></svgicon>
            <span>{{ contactsList.address[$i18n.locale] }}</span>
          </a>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["contactsList"]),
  },
};
</script>

<style></style>
