<template>
  <main class="header-main">
    <div class="container">
      <div class="header_row">
        <nuxt-link to="/" class="logo-container link_custom">
          <div class="img logo">
            <img src="@/assets/media/image/logo.png" alt="" />
          </div>
          <div class="info">
            <div class="title">AHADMIX GROUP</div>
            <div class="sub-title">PROFESSIONAL LED SCREEN</div>
          </div>
        </nuxt-link>
        <nav class="navigation">
          <ul>
            <li v-for="(item, index) in menuList" :key="index">
              <template v-if="item?.site_url">
                <a :href="item?.site_url" target="blank">
                  {{ item?.title?.[$i18n.locale] }}
                </a>
              </template>
              <template v-else>
                <nuxt-link :to="item.link" class="link_custom">
                  {{ item?.title?.[$i18n.locale] }}
                </nuxt-link>
              </template>
            </li>
          </ul>
        </nav>
        <div class="links">
          <div class="site-contacts">
            <div class="social-medias">
              <ul>
                <li v-for="(item, index) in contactsList.socials" :key="index">
                  <a
                    :href="item?.link"
                    target="_blank"
                    class="soc-media"
                    v-html="item?.icon"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="site-languages">
            <ul>
              <li v-for="item in Object.keys(lang)" :key="item">
                <nuxt-link
                  :class="{ active_lang: item == $i18n.locale }"
                  :to="switchLocalePath(`${item}`)"
                  >{{ lang[item] }}</nuxt-link
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      lang: { ru: "RU", en: "EN", uz: "UZ" },
    };
  },
  computed: {
    ...mapGetters(["contactsList", "menuList"]),
  },
};
</script>

Svgicon
