<template>
  <main class="contact_us-page">
    <div class="container">
      <section class="contact_us">
        <header>
          <h2>Связаться с нами</h2>
        </header>
        <main>
          <div class="map_container" v-html="contactsList?.map"></div>
          <div class="contacts_row">
            <div class="contact_col" v-if="contactsList?.phone_number">
              <div class="title"><span>Телефон:</span></div>
              <a :href="`tel:${contactsList.phone_number[0]}`" class="info">
                <svgicon name="phone"></svgicon>
                <span class="link_custom">{{
                  contactsList.phone_number[0]
                }}</span>
              </a>
            </div>
            <div class="contact_col" v-if="contactsList?.email">
              <div class="title"><span>Электронная почта:</span></div>
              <a :href="`mailto:${contactsList.email[0]}`" class="info">
                <svgicon name="phone"></svgicon>
                <span>{{ contactsList.email[0] }}</span>
              </a>
            </div>
            <div class="contact_col" v-if="contactsList?.address">
              <div class="title"><span>Адрес:</span></div>
              <a target="_blank" :href="contactsList.address_link" class="info">
                <svgicon name="phone"></svgicon>
                <span>{{ contactsList.address[$i18n.locale] }}</span>
              </a>
            </div>
          </div>
        </main>
      </section>
    </div>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["contactsList"]),
  },
};
</script>

<style></style>
<!-- <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.203802759535!2d69.23205297563794!3d41.3044298011374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef5a0cc97b753%3A0x8a2aad147728b4d3!2sAhadmix%20group!5e0!3m2!1sru!2s!4v1695278325600!5m2!1sru!2s"
              width="100%"
              height="700"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe> -->
